<div class="sideContainer">
  <div *ngIf="newTiles[0].activePanel" class="sideTiles" id="sideTile1">
    <h1 class="panelTitle">My Work</h1>
    <p class="panelSubtitle">
      Combining my design experience with my work in education allows me to create content that students find interesting and teachers find effective.
    </p>
    <div class="portfolioImages">
      <p class="panelText" id="portfolioText">
        <span style="font-size: 1.2em;color: #013A3F; text-transform: uppercase">Content and curriculum
          development</span><br>
        A large part of my work over the past 7 years revolved around developing material and content. As education
        shifted towards the online environment,
        I was also responsible for improving material to be more readable, effective, and visually appealing. Below I've
        added some examples of my work.
        All images are royalty free and all slides belong to Belgium Campus.
        <br><br>

        <span style="font-size: 1.2em;color: #013A3F; text-transform: uppercase">My Educational Philosophy</span><br>
        I'm a strong proponent of constructivism and social constructivism in the classroom. At times it seems that this pedagogical approach 
        clashes with the typical formal education setup. Students are often expected to fit a very specific mold which often leads to atypical 
        students being left behind. Considering class sizes it is also challenging to cater to individual learning styles. 
        <br>
        With mathematics, however, several learning styles can effectively be combined since math lends itself so well to auditory and visual learning. 
        My expertise in sign language also gives me a deeper appreciation for the spatial aspect of learning which often comes in handy when teaching various
        concepts. 
        <br>
        <br>
        <span style="font-size: 1.2em;color: #013A3F; text-transform: uppercase">Critical Thinking and Metacognition</span><br>
        As a level 3 practitioner of the Feuerstein Instrumental Enrichment model, I found that critical thinking and metacognition are critical
        for students to identify their own learning styles. By guiding students to identify their own obstacles and thinking strategies, they become
        more and more suited to the mathematical and logical thinking patterns required for mathematics and programming. The link between math and
        coding is also mutually beneficial since the theories behind computational thinking can effectively be applied to mathematical thinking as well. 

      </p>
    </div>
  </div>

  <div *ngIf="newTiles[1].activePanel" class="sideTiles" id="sideTile1">
    <h1 class="panelTitle">Experience</h1>
    <p class="panelSubtitle">
      The majority of my experience lies in education with a focus on teaching and content development.
    </p>
    <p class="panelText">
      I have worked as a tutor, graphic designer, instructor, and teacher. Since 2018 I have also focused on content
      and curriculum development. During
      my time at Belgium Campus university, I not only taught classes, but also developed both the content and the material for subjects such as
      academic writing and problem solving. I was
      also responsible for redesigning and reworking existing content to be more student-friendly especially in the
      online environment.
      <br><br>
      While working at the National Institute for the Deaf I started as a graphic designer but moved on to teaching
      and helped develop a curriculum
      for teaching numeracy to disadvantaged youth. Since I've been in Japan I've been teaching English to a variety
      of ages with the Pacific Language
      System being used for younger students.
    </p>
  </div>

  <div *ngIf="newTiles[2].activePanel" class="sideTiles" id="sideTile1">
    <h1 class="panelTitle">Personal</h1>
    <p class="panelSubtitle">
      Educator / Developer / Designer
    </p>
    <p class="panelText">
      I am a structured person who enjoys working within an established framework. I'm a sociable person who generally gets
      along with all my colleagues and I value the natural teamwork that comes from this. I enjoy being challenged and take great pleasure
      in a full day's effective work. I have high standards for my own work and tread close to perfectionist territory in this area.
      <br><br>
      I enjoy education and am starting a part-time honour's degree in 2023 where I will be looking further into educational research. I am 
      particularly interested in the student-centred nature of education and the various perspectives applicable. One of the most valuable
      experiences I've had, was going through levels 1, 2, and 3 of the Feuerstein Instrumental Enrichment program. It delves into teaching critical
      thinking from a metacognitive approach and I've been applying this approach in my teaching ever since. 
      <br><br>
      In my free time I enjoy art, playing piano, and reading. I'm a big fan of Ocean Vuong's writing and poetry and I find Stephen King's books to be 
      gripping page turners. I also enjoy video games and languages with a hopeful N4 in the upcoming JLPT.

    </p>
  </div>

  <div *ngIf="newTiles[3].activePanel" class="sideTiles" id="sideTile1">
    <h1 class="panelTitle">Contact me</h1>
    <p class="panelSubtitle">
      This section is under development.
    </p>
    <p class="panelText">
     Please check back soon for an update to this section.
    </p>
  </div>
</div>
