<div [ngClass]="{
  mainContainerOther: screenSize == 'small',
  mainContainerSmall: screenSize == 'other',
  mainContainerMedium: screenSize == 'medium',
  mainContainerLarge: screenSize == 'large'}">
  <h1 id="mainHeadingText" style="margin-top:100px;text-align: center;">
    Hi, I'm <span style="color:#FE9B3D; font-size: 1.2em; font-weight: 400">Edward</span>.
  </h1>
  <p class="subTitleLarge" style="margin-top:20px;margin-bottom:40px;text-align: center;">
    I'm an educator, developer, and curriculum designer. My experience lies in education with <br> my most recent
    experience being education within the IT environment. I've also spent considerable time <br> in language education
    and look forward to continue furthering my skills in curriculum development, software development, and education.
  </p>
  <app-tiles class="tiles" [screenSize]="screenSize"></app-tiles>
  <div class="sideTiles">
    <app-side-panel></app-side-panel>
  </div>
  <div [ngClass]="{
    portfolioImagesLarge: screenSize == 'large',
    portfolioImagesMedium: screenSize == 'medium',
    portfolioImagesSmall: screenSize == 'small',
    portfolioImagesOther: screenSize == 'other'}" *ngIf="newTiles[0].activePanel">

    <h1 [ngClass]="{
      portfolioHeadingLarge: screenSize == 'large',
      portfolioHeadingMedium: screenSize == 'medium',
      portfolioHeadinSmall: screenSize == 'small',
      portfolioHeadingOther: screenSize == 'other'}">Below are some examples of my work. I've included screenshots from the learning material
      I created as well as some of the Mathematics videos.
    </h1>

    <div>
      <div id="image1" [@hideText]="false" class="imageContainer" (click)="showLightbox(2)"
        (mouseenter)="setHovering()">
       
        <img src="../../../assets/images/slider/3.jpg" class="portfolioImage" />
      </div>
    </div>

    <div>
      <div class="imageContainer" (click)="showLightbox(3)">
      
        <img src="../../../assets/images/slider/4.jpg" class="portfolioImage" />
      </div>

    </div>

    <div>
      <div class="imageContainer" (click)="showLightbox(1)">
       
        <img src="../../../assets/images/slider/2.jpg" class="portfolioImage" />
      </div>
    </div>

    <div>
      <div class="imageContainer" (click)="showLightbox(4)">
        <img src="../../../assets/images/slider/5.jpg" class="portfolioImage" />
      </div>
    </div>

    <div>
      <div class="imageContainer" (click)="showLightbox(0)">
        <img src="../../../assets/images/slider/1.jpg" class="portfolioImage" />
      </div>
    </div>

    <div>
      <div class="imageContainer" (click)="showLightbox(5)">
        <img src="../../../assets/images/slider/6.jpg" class="portfolioImage" />
      </div>
    </div>

    <div>
      <div class="imageContainer" (click)="showLightbox(7)">
       
        <img src="../../../assets/images/slider/8.jpg" class="portfolioImage" />
      </div>
    </div>

    <div>
      <div class="imageContainer" (click)="showLightbox(6)">
       
        <img src="../../../assets/images/slider/7.jpg" class="portfolioImage" />
      </div>
    </div>



   
    
    <div class="imageContainer">
      <iframe class="portfolioImage" src="https://www.youtube.com/embed/XDXI5Chs_r4"
        title="Matrix multiplication example" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="imageContainer">
      <iframe class="portfolioImage" src="https://www.youtube.com/embed/qz6ta1_ZCRI"
        title="Algebra and exponents   Example" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="imageContainer">
      <iframe class="portfolioImage" src="https://www.youtube.com/embed/R27ZCzq6fuA"
        title="Number bases - decimal to binary conversion" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

    <div class="imageContainer">
      <iframe class="portfolioImage" src="https://www.youtube.com/embed/Ol5gAUkd87M"
        title="The Laws of Exponents - an excerpt" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

    <ng-image-fullscreen-view [images]="imageObject" [imageIndex]="selectedImageIndex" [show]="showFlag"
    (close)="closeEventHandler()">
  </ng-image-fullscreen-view>

  </div>

</div>
